<head>

<p id="notice"><%= notice %></p>

<!--menu bar -->

<ul class="ul-navbar" width="100%">
  			<li class="li-navbar navbar-btn"><a class="nav-btn" href="Home.html">Home</a></li>
  			<li class="li-navbar navbar-btn"><a class="nav-btn" href="News.html">Make!</a></li>
  			<li class="li-navbar navbar-btn"><a class="nav-btn" href="#contact">Sign Up</a></li>
  			<li class="li-navbar navbar-btn"><a class="nav-btn" href="aboutus.html">Events</a></li>
  			</li>
</ul>

<h1> Hey bro welcome to huddle </h1>


<%= image_tag "home-page.gif" %>